

<head>
    @*<link rel="stylesheet" type="text/css" href="~/css/home.css">*@
	<link href="~/css/home.css" rel="stylesheet" />
</head>

@{
    ViewData["Title"] = "Home Page";
}


@foreach (var content in Model)
{
    var time = "";
    var minutes = 0;
    var hours = (DateTime.Now - content.Post.Timestamp).Hours;
    minutes = (DateTime.Now - content.Post.Timestamp).Minutes;

    if (hours < 1 )
    {
         time = "Posted " + minutes + " minutes ago";
    }
    else if (hours >= 1 && hours <= 24)
    {
        time = "Posted " + hours + " hours and " + minutes + " minutes ago";
    }
    else
    {
        time = "Posted on " + content.Post.Timestamp.ToString("dd/MM/yyyy");
    }
        
    <div id="contentCard" class="card">

        <div class="card-title">
            <p>
                <span>
                    <image class="profile-image" src="@content.Profile.ProfilePicture" onerror="this.onerror=null;this.src='images/default_avatar.png';"></image>
                </span>
                <span id="titleText">@content.Profile.Email</span>
            </p>
            <p>@time</p>
        </div>
        <div id="contentBody" class="card-body">
            <div id="feedCaption">
                <textarea>@content.Post.Caption</textarea>
            </div>
            <div id="feedMedia">
                @if (content.Post.Type != null)
                {
                    if (content.Post.Type.Contains("image"))
                    {
                        <div class="item-content">
                            <image src="@content.Post.MediaUrl" width="100%"></image>
                        </div>
                    }
                    else
                    {
                        <div class="item-content">
                            <video src="@content.Post.MediaUrl" width="100%"></video>
                        </div>
                    }
                }
            </div>
            <div class="contentCounters">
                <p>
                    <span>Likes &nbsp @content.Likes.Count()</span>
                    <span>Comments &nbsp @content.Comments.Count()</span>
                </p>
            </div>
            <div id="contentIcons">
                <span>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </span>
                <span>
                    <i class='far fa-comment'></i>
                 </span>
                 <span><i class="fa-regular fa-paper-plane"></i></span>
            </div>
        </div>
    </div>
}




<script>
</script>

