@using Spacebook.ViewModel;
@model IEnumerable<ContentFeed>

<link rel="stylesheet" type="text/css" href="~/css/home.css">


@{
    ViewData["Title"] = "Home Page";
}

<div class="images">
    @foreach (var content in Model)
    {
        
        <div class="card bg-light mb-3" style="max-width: 18rem;">

            <div class="card-header">
              
                <p>@content.Profile.Email</p>
                <p>@content.Post.Timestamp</p>
            </div>
            <div class="card-body">
                <div id="feedCaption">
                    <textarea>@content.Post.Caption</textarea>
                </div>
                <div id="feedMedia">
                    @if (content.Post.Type != null)
                    {
                        if (content.Post.Type.Contains("image"))
                        {
                            <image src="@content.Post.MediaUrl"></image>
                        }
                        else
                        {
                            <video src="@content.Post.MediaUrl"></video>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>



<script>
</script>

