@model Profile
<div>
    <h1>Edit Profile</h1>
    <br />
    <div class="row">
        <div class="col-2">
            <div style="max-height: 100px; max-width:100px;">
                <img src=@Model.ProfilePicture class="profile-picture" alt="Profile picture" style="max-height:60;">
            </div>
        </div>
        <div class="col">
            <h3>@Model.DisplayName</h3>
            <h4>@Model.Email</h4>
            <a onclick="onCreateButtonClicked()" data-toggle="modal" data-target="#uploadMediaModal">
                Change profile photo
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <form method="post" id="myForm" enctype="multipart/form-data" onsubmit="submitForm(event)">
            <input type="hidden" asp-for="@Model.UserId" />
            <input type="hidden" asp-for="@Model.ProfilePicture" />
            <div class="row">
                <label class="col-2" asp-for="@Model.DisplayName"></label>
                <input class="col" type="text" asp-for="@Model.DisplayName" required/>
            </div>
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.Bio"> </label>
                <input class="col" type="text" asp-for="@Model.Bio" />
            </div>
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.Gender"> </label>
                <select class="col" type="text" asp-for="@Model.Gender">
                    <option value="" selected>Select an option</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </div>
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.BirthDate"> </label>
                <input class="col" type="date" asp-for="@Model.BirthDate" />
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<partial name="_UploadProfilePicturePartial" />

<script>
    function submitForm(event) {
        event.preventDefault();

        var formData = new FormData(document.getElementById("myForm"));
        
        var formObject = {};

        formData.forEach(function(value, key){
            formObject[key] = value;
        });

        $.ajax({
            url: "https://localhost:7232/api/ProfileWebApi",
            type: "POST",
            dataType: "JSON",
            data: { values: JSON.stringify(formObject)},
        })
        .then(function (response) {
            alert('Profile updated successfully!');
        })
        .catch(function (error) {
            console.error("An error occurred:", error);
        });
    }
</script>

<style>
    .profile-picture {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: black;
        background-color: aquamarine;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>