@using Microsoft.AspNetCore.Identity

@using Spacebook.Data;

@inject UserManager<SpacebookUser> UserManager

@{
    var spacebookUser = (SpacebookUser)await UserManager.GetUserAsync(User);
}
@model Profile
<div>
    <h1>Edit Profile</h1>
    <br />
    <div class="row">
        <div class="col-2">
            <div style="max-height: 100px; max-width:100px;">
                <img src="https://images.pexels.com/photos/108157/pexels-photo-108157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="rounded-circle" alt="Cinque Terre" width="70" height="70">
            </div>
        </div>
        <div class="col">
            <p>@spacebookUser.Email</p>
            <p>Change profile photo</p> @*Use mandys pop up thingy*@
        </div>
    </div>
    <br />
    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-controller="ProfileWebAPI" asp-action="Put" onsubmit="submitForm(event)">
            @*<div class="row">
                <label class="col-2" asp-for="@Model.DisplayName"></label>
                <input class="col" type="text" asp-for="@Model.DisplayName" />
            </div>*@
            <div class="row">
                <input class="col" type="hidden" asp-for="@Model.Username" />
            </div>
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.Name"> </label>
                <input class="col" type="text" asp-for="@Model.Name" />
            </div>
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.Surname"> </label>
                <input class="col" type="text" asp-for="@Model.Surname" />
            </div>
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.Bio"> </label>
                <input class="col" type="text" asp-for="@Model.Bio" />
            </div>
            <br />
            @*<div class="row">
                <label class="col-2" asp-for="@Model.ProfilePicture"> </label>
                <input class="col" type="text" asp-for="@Model.ProfilePicture" />
            </div>*@
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.Gender"> </label>
                <input class="col" type="text" asp-for="@Model.Gender" />
            </div>
            <br />
            <div class="row">
                <label class="col-2" asp-for="@Model.BirthDate"> </label>
                <input class="col" type="date" asp-for="@Model.BirthDate" />
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>