@model Login

@{
    ViewData["Title"] = "Log in";
}

@section Styles{
	<link href="~/css/authentication.css" rel="stylesheet" />
}



<div class="row">
	<div class="header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-6">
            <form asp-controller="Auth" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="">
                    <input asp-for="@Model.Email"  autocomplete="username" aria-required="true" placeholder="Email"/>
                    @*<label asp-for="@Model.Email" class="form-label"></label>*@
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <div class="">
                    <input asp-for="@Model.Password"  autocomplete="current-password" aria-required="true" placeholder="Password"/>
                    @*<label asp-for="@Model.Password" class="form-label"></label>*@
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>

                <div>
                    <div class="checkbox">
                        <label asp-for="@Model.RememberMe" class="form-label">
                            <input class="" asp-for="@Model.RememberMe" />
                            @Html.DisplayNameFor(_ => _.RememberMe)
                        </label>
                    </div>
                </div>

                <div>
                    <button type="submit" class="login">Log in</button>
                </div>
            </form>
            <div class="register-link">
                <p>
                    <a asp-controller="Auth" asp-action="Register">Register as a new user</a>
                </p>
            </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

